In [5]:
import pandas as pd
filename =input('File name: ')
ext = filename.split('.')

filename = ext[0]
ext = ext[1]

if ext in 'csv':
    df= pd.read_csv(filename+'.'+ext)
else:
    df = pd.read_excel(filename+'.'+ext)


df_type = df.dtypes
df_col = df.columns

qry_str = 'CREATE TABLE '+filename+'('
for i in range(len(df_type)): 
    if str(df_type[i]) in "object":
        qry_str = qry_str +df.columns[i]+' '+'varchar(50), '
    elif str(df_type[i]) in "float64":
        qry_str = qry_str +df.columns[i]+' '+'float,  '
    elif str(df_type[i]) in "int64":
        qry_str = qry_str +df.columns[i]+' '+'numeric(18, 0), '
    elif str(df_type[i]) in "datetime64[ns]":
        qry_str = qry_str +df.columns[i]+' '+'datetime, '
        
        
qry_str = qry_str[:-2]+')'

File name: oakwoodExcel.xlsx

In [12]:
qry_str = "INSERT INTO [dbo].["+filename+"] VALUES "
qry_str

'INSERT INTO [dbo].[oakwoodExcel] VALUES '

In [72]:

def get_row(df,num):
    df_col = df.columns
    msg='INSERT INTO '+filename+' VALUES('
    for i in df_col:
        if (str(df[i].dtypes) not in 'float64') and (str(df[i].dtypes) not in 'int64'):
            msg += "'"+str(df[i][num])+"', "
        else:
            msg += str(df[i][num])+", "
    msg = msg[:-2]
    msg=msg.replace('nan','')
    print(msg +')')
    return (msg +')')

In [73]:

get_row(df,0)

"INSERT INTO oakwoodExcel VALUES('UNCHANGED', 'Covered Recipient Physician', , , '', 176783.0, 'STEVEN', '', 'VOLD', '', '2070 MCKENZIE RD STE A SUITE A', '', 'SPRINGDALE', 'AR', '72762', 'United States', , , 'Medical Doctor', 'Allopathic & Osteopathic Physicians|Ophthalmology', 'AR', 'TX', '', , , 'GLAUKOS CORPORATION', 100000000102, 'GLAUKOS CORPORATION', 'CA', 'United States', 11.56, '2013-09-13 00:00:00', 1, 'Cash or cash equivalent', 'Food and Beverage', '', '', '', 'No', 'No Third Party Payment', '', '', '', '', 'No', 1924047, 'No', 'Combination', '', '', '', '', , '', , , , , 'ISTENT TRABECULAR MICRO-BYPASS STENT SYSTEM', '', , , , 2013, '2020-01-17 00:00:00')"